body {
	
	font-size: 1em;
	
	background-color: #121212;
	background-size: 100%;
	color: antiquewhite;
}
#main{
    font-family:Arial, Verdana, Helvetica, sans-serif;
    background-color: #641111;
    
    width: 90%;
    margin:auto;
    padding: 20px;
    border-radius: 1%;
}

h1{
    text-align: center;
}
.projectsdiv {
    text-align: center;
    display: grid;
    gap: 10px; /* Space between divs */
}
.projectitem {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: var(--delay, 0s);
    transform: translateY(30px); /* Start 30px lower */
    padding: 20px;
    border-radius: 2%;
    background-color: #202020;
    border: 1px white solid;

}
.projectitem:nth-child(1) {
    animation-delay: calc(0 * 1s); /* No delay for the first element */
  }
.projectitem h1{
    font-size: 1.5em;
}
.projectitem img{
    width: 90%;
}
a {
	color: antiquewhite;
}
a:visited{
	color:rgb(255, 170, 59);
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
      opacity: 1;
    }
  } 
@media (max-width: 600px) { /*MÜTYÜR TELEFONKÉPERNYŐKRE*/
    .projectsdiv {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}

@media (min-width: 601px) and (max-width: 900px) {/*KÖZEPES TELEFONKÉPERNYŐKRE*/
    .projectsdiv {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

@media (min-width: 901px) {/*EMBERI KÉPERNYŐK*/
    .projectsdiv {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    }
}