body {
	
	font-size: 1em;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	/*background-image:linear-gradient(#001425 ,#021526 100% ); */
    background-color: rgb(20, 20, 20);

	background-size: 100%;
	color: hsl(60, 48%, 91%);

}
#main{
    background-color: rgb(20, 20, 20);
    
    width: 90%;
    margin:auto;
    padding: 20px;
}

h1{
    text-align: center;
}
.projectsdiv {
    text-align: center;
    display: grid;
    gap: 10px; /* Space between divs */
    border: none;
}

.projectitem {
    border: 3px hsl(60, 33%, 71%) solid;
    margin:10px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: var(--delay, 0s);
    transform: translateY(30px); /* Start 30px lower */
    background-color: rgb(20, 20, 20);
    /*background-image:linear-gradient(45deg, rgb(21, 21, 124) 35%, #3c6c90 100%); */
}
.projectitem img{

    border-bottom: 3px hsl(60, 33%, 71%) solid;
    padding: 0px;
    margin: 0px;
    
}
.projectitem:nth-child(1) {
    animation-delay: calc(0 * 1s); /* No delay for the first element */
  }
.projectitem h1{
    font-size: 1.5em;
}
.projectitem img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.image-container {
    position: relative;
}

.image {
    width: 100%;
    display: block;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.image-container:hover .overlay {
    opacity: 1; 
}
a {
	color: antiquewhite;
}
a:visited{
	color:rgb(255, 170, 59);
}
.social-icons img{
    
    max-width: 50px;
}
.social-icons{
    text-align: center;
}
.social-icons a{
    text-decoration: none;
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
      opacity: 1;
    }
  } 
@media (max-width: 600px) { /*MÜTYÜR TELEFONKÉPERNYŐKRE*/
    .projectsdiv {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}

@media (min-width: 601px) and (max-width: 900px) {/*KÖZEPES TELEFONKÉPERNYŐKRE*/
    .projectsdiv {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

@media (min-width: 901px) {/*EMBERI KÉPERNYŐK*/
    .projectsdiv {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    }
}